*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 65fr 35fr;
    width: 100vw;
    height: 100vh;
    padding: 1.0rem;
}

#draw-area{
    width: 100%;
    height: 100%;
    margin: 0.0rem;
    background: #fffbdb;
    background: radial-gradient(
        circle, rgba(255, 251, 219, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

#code-area{
    margin: 0.0rem;
}
